.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.deck {
  position: static;
  height: 100vh;
  width: 100vw;
  /* background-color: gray; */
  padding: 10px;
}

.buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.title-bar {
  display: flex;
  justify-content: flex-start;
  height: 80px;
  margin-left: 20px;
  color: #0090fb;
  z-index: 1000;
  position: absolute;
  align-items: center;
}
.rearrange-button {
  width: 50px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.camera-container {
  position: relative;
  margin-top: 20px;
}

.camera {
  position: absolute;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px; */
  /* background-color: red; */
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.card {
  background-color: white;
  position: absolute;
  min-height: 200px;
  min-width: 300px;
  color: black;
  display: flex;
  flex-direction: column;
  pointer-events: all;
  justify-content: center;
}

.word-count {
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 12px;
}

.selected {
  border: solid 2px #00b5f0;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px #00b5f0;
}

.no-highlight {
  user-select: none;
}

.text-editor-container {
  width: 80vw;
  padding: 20px;
  height: 80vh;
  overflow: scroll;
}

.scrapboard {
  width: 100vw;
  height: 100vh;
}

.item {
  position: absolute;
  pointer-events: all;
}
